#topic-header {
  font-weight: 800;
  font-size: 17px;
  color: white;
  overflow: hidden;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.topic-nav-btn {
  color: #bfbfbf;
  background-color: #1f1f1f;
  padding: 6px;
  cursor: pointer;
  margin-right: 3px;
  margin-left: 3px;
}

.selected {
  color: white;
  background-color: #333;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75)
}
