body {
  padding: 0px;
  margin: 0px;
}

.display-inline {
  display: inline-block;
}

#logo {
  height: 30px;
}

#logo-container {
  display: inline;
}

#new-btn {
  float: right;
  margin-top: 2px;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: white;
  color: black;
  font-size: 13px;
  font-weight: 300;
  flex: 50%;
}

#new-btn span {
  margin-right: 10px;
}

@media only screen and (max-width: 1200px) {
  #logo {
    display: block;
    margin: auto;
  }

  #new-btn {
    width: 80%;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    float: none;
  }
}

#sidebar {
  position: fixed;
  left: 0;
  z-index: 1000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  border-right: 1px solid rgb(235, 236, 237);
  width: 20%;
  height: 100%;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

#sidebar-list {
  direction: rtl;
  overflow: auto;
  height: 100%;
}

#sidebar-header {
  border-bottom: 1px solid rgb(235, 236, 237);
  padding: 14.5px;
}

#sidebar-search-mentors-container {
  position: absolute;
  background-color: white;
  border-top: 1px solid rgb(235, 236, 237);
  width: 100%;
  bottom: 0;
}

#topics-list-container {
  padding-bottom: 200px;
}

#mentors-button {
  width: 42.75%;
  padding: 20px 10px 20px 10px;
  text-align: center;
}

#mentors-button:hover {
  background-color: #efefef;
}

#search-button {
  width: 42.75%;
  padding: 20px 10px 20px 10px;
  border-right: 1px solid rgb(235, 236, 237);
  text-align: center;
}

#search-button:hover {
  background-color: #efefef;
}

#no-topics-container {
  padding: 30px;
  text-align: center;
  color: black;
  font-weight: 300;
  font-size: 25px;
}

#main-content {
  position: absolute;
  overflow-y: auto;
  left: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  border-radius: 2px;
  background-color: white;
  color: black;
  font-size: 13px;
  font-weight: 300;
}

.topic-item-name {
  font-weight: 100;
}

.topic-item-date {
  font-weight: 100;
  color: grey;
}

.topic-item-name-container {
  margin-bottom: 5px;
}

.topic-item-container {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 8px;
  border-bottom: 1px solid rgb(235, 236, 237);
  direction: ltr;
}

.topic-item-container-selected {
  border-right: 4px solid black;
}

#topic-screen-container {
  margin-top: 60px;
}

.topic-section-container {
  margin-top: 50px;
  padding: 30px;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-show {
  display: block;
}

.modal-hidden {
  display: none;
}

/* Modal Header */
.modal-header {
  padding: 2px 12px;
  border-bottom: 1px solid rgb(235, 236, 237);
  color: black;
}

.modal-header h2 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  height: 30px;
  padding: 12px;
  border-top: 1px solid rgb(235, 236, 237);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 0;
  border: 1px solid #888;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#topic-title-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 4px;
}

#create-topic-btn {
  float: right;
  font-weight: 500;
  background-color: #008bf3;
  color: white;
  padding: 6px;
  border-radius: 5px;
}

#create-topic-btn:hover {
  background-color: #0a73c4;
}

button:focus {
  outline: 0;
}

/* On mouse-over, add a deeper shadow */
.note-card:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.new-note-card-container {
  padding: 2px 16px;
}

.note-card {
  text-align: center;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 50px;
}

.new-note-text {
  margin-left: 7px;
}
